@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");
/*body{margin-top:50px;}*/
#accordion .glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.ban
{
    justify-content: center;
    text-align: center;

}

.center-block {
    justify-content: center;
    text-align: center;
}

table
{
    margin: auto;
}
td
{
    padding:  30px;
}

.img
{
    max-width: 40%;
    height: auto;
}

#img_membre
{
    max-width: 191px;
    height: auto;
}

.article
{
    justify-content: center;
    text-align: center;

}

.conteneur
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;


}
.membres
{
    color: white;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
    width:450px;
    min-height:400px;
}

.carousel-caption
{
    float: left;
}

.btnarchive
{
    margin-top: 150px;
    text-align: right;   

}

.articlenews{
    text-align: center;
    justify-content: center;
}
#sourcenews{
    float: right;
    text-align: center;
}
.articlenews, .ajout_news, .textnews, #Source_ajout_news, #titre_ajout_news{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.colorN
{
	color = black;
}

.navbar-brand
{
	display: inline-block;
	text-align: center;
	position: relative;
}
.nav {
	padding:0;
	margin:0;
}






